.image {
    background-size: auto;
    background: url("../images/concert2.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    padding: 2%;
    box-shadow: 0px 10px 5px rgb(17, 17, 17);
    margin:0%;
    /* text-align: center; */
    height: static;
    max-width: 100%;
    /* position: absolute; */
}
 
 
#text {
     animation: mymove 1s;
     animation-timing-function: ease-out;
     /* position: relative; */
     animation-fill-mode: forwards;
     text-shadow: 4px 4px 10px #252424;
     font-family: serif;
     font-size: 150%     
}
 
.navbar {
     animation: mymove 1s ;
     animation-timing-function: ease-out;
     /* position: relative; */
     animation-fill-mode: forwards;
     padding: 20px;
     overflow: hidden;     
}
 
 @keyframes mymove {
     from {top: -150px;}
     to {top: 0px;}
}
   
#animation img {
     display: none;
}

#animation img:first-child {
     display: none;
}

#bdy {
     width: 100%;
     height: 100%;
     background-repeat: repeat-y repeat-x;
     background-color: rgb(49, 47, 47);
     padding-block-end: 20%
}

#follow {
     color: white;
}
 
 /* table {
     font-family: arial, sans-serif;
     border-collapse: collapse;
     width: 100%;
     color:rgba(212, 114, 22, 0.931);
     text-shadow: 4px 4px 10px #641b09;
     border: 2px solid black;
     border-collapse: collapse;
     border-spacing: 25px;
   }
   
   td, th {
     border: 1px solid #dddddd;
     text-align: left;
     padding: 8px;
     border: 1px solid black;
     border-collapse: collapse;
     width: 25%;
   } */
   
   /* tr:nth-child(even) {
     background-color: #dddddd;
     font-family: 'Montserrat', sans-serif;
     background-color: rgb(219, 152, 97);
   } */
 
   /* h2{
       text-align: center;
       color: rgba(212, 114, 22, 0.931);
       text-shadow: 4px 4px 10px #252424;
       text-shadow: 4px 4px 10px #641b09;
       font-family: 'Montserrat', sans-serif;
      
   }
 
   .tableheaders {
       background-color: white;
       font-family: 'Montserrat', sans-serif;
      
       
   }
 
   .firstrow {
       background-color: rgb(219, 152, 97);
       color: black;
       font-family: 'Montserrat', sans-serif;
   } */

table, td, th, tr {
    border: 1px solid black;
    border-spacing: 15px;
    background-color: rgb(226, 144, 49);
    font-family: Arial, Helvetica, sans-serif;
    padding: 5px;
    text-align: center;
}

#results {
    margin-top: 50px;    
}
